{% extends "trans19/layouts/base.html" %}
{% block content %}
    <h2 class="text-center mt-5">Case {{ patient.case_number }}: {{ patient.patient_name }}</h2>
    <h4 class="text-center">Visit Record</h4>
    <div class="table-responsive w-75 mx-auto mb-5">
    <table class="table table-bordered mt-3">
        <thead class="thead-light">
            <tr>
                <th class="header">Location Visited</th>
                <th class="header">Date from</th>
                <th class="header">Date to</th>
                <th class="header">Detail</th>
                <th class="header">Category</th>
            </tr>
        </thead>
    <tbody>
        {% for visit in patient.visit_set.all %}
            <tr>
                <td>{{ visit }}</td>
                <td>{{ visit.date_from }}</td>
                <td>{{ visit.date_to }}</td>
                <td>{{ visit.detail }}</td>
                <td>{{ visit.category }}</td>
            </tr>
            {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}